<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <!-- <button type="button" class="btn btn-danger navbar-brand text-center text-white" routerLink="/spi-first" (click)="backFormInput()">
      Back Form Input
    </button> -->
    <span class="navbar-brand text-white">
      <img src="https://static1.squarespace.com/static/50f5d875e4b067428bcb1324/t/50f82030e4b0a63b1074712b/1358438449058/loreal_logo_PNG_white_transparent.png?format=300w" width="90" height="30" class="d-inline-block align-top" alt="">
      System Performance Indicator
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav mr-auto">
      </div>
      <div class="form-inline my-2 my-lg-0">
        <label for="status" class="mr-sm-3 text-white">
          <b>{{namaOperator}} / {{nik}}</b>
        </label>
      </div>
  
      <!-- <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-danger my-2 my-sm-0 text-white" type="logout" routerLink="/login" (click)="logout()">Logout</button>
      </div> -->
    </div>
  </nav>
  <!-- AKHIR NAVBAR -->
  
  
  <div class="container-fluid" style="background-color: rgb(169, 206, 240);">
    <br>
    <div class="row">
      <div class="col">
          <div class="row col-md-12">
            <label for="of" class="col-sm-12 col-form-label">
                <b>STATUS OF BERJALAN :
                  <span class="alert text-white" style="background-color: rgb(255, 0, 0);">{{type}}</span>
                </b>
            </label>
          </div><br>
        <div class="row col-md-12">
          <label for="of" class="col-sm-2">
              <b>RM</b>
          </label>
          <div class="col-md-7">
            <span class="progress">
              <i class="progress-bar" role="progressbar" [ngStyle]="{'width':widthRM+'%'}" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></i>
            </span>
          </div>
          <small for="of" class="col-sm-3 text-danger">
            <b>{{statusRM}} of {{jumlahRM}}</b>
          </small>
        </div>
  
        <div class="row col-md-12">
          <label for="of" class="col-sm-2">
            <b>Total Weight</b>
          </label>
          <div class="col-md-7">
            <span class="progress">
              <i class="progress-bar" role="progressbar" [ngStyle]="{'width':widthWeigh+'%'}" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></i>
            </span>
          </div>
          <small for="of" class="col-sm-3 text-danger">
            <b>{{statusWEIGH | number:0}} Kg of {{totalWeigh | number}} Kg</b>
          </small>
        </div>
  
        <div class="row col-md-12">
          <label for="of" class="col-sm-2 col-form-label">
              <b>Pack</b>
          </label>
          <label for="of" class="col-sm-2 col-form-label">
              <b>{{statusPACK}}</b>
          </label>
        </div>
        <br>
      </div>
    
        <div class="col">
          <br>
          <!-- OF Number -->
          <div class="form-group row col-sm-12">
            <label for="of" class="col-sm-2">
                <b>OF Number</b>
            </label>
            <label for="of" class="col-sm-7">
                <b>: {{Of}}</b>
            </label>
          </div>
          <!-- FORMULA -->
          <div class="form-group row col-md-12">
            <label for="formula" class="col-sm-2">
                <b>Formula</b>
            </label>
            <label for="formula" class="col-sm-7">
                <b>: {{Formula}}</b>
            </label>
          </div>
          <!-- SHIFT -->
          <div class="form-group row col-md-12">
            <label for="Shift" class="col-sm-2">
                <b>Shift</b>
            </label>
            <label for="Shift" class="col-sm-7">
                <b>: {{Shift}}</b>
            </label>
          </div>
    
        </div>
      </div>
    </div>

<!-- AKHIR BAR STATUS OF BERJALAN -->



<div class="container" style="padding: 10px 50px 10px 50px">

  <div class="container-fluid text-center"><br>
          <div class="form-group card w-60 mx-auto" style="padding: 5px 10px 5px 10px">
              <br>
              <form>
                <div class="form-group row">
                  <label for="loginName" class="col-sm-4 col-form-label">Login Name</label>
                  <div class="col-sm-6">
                    <input type="text" readonly  [(ngModel)]="loginName" name="loginName" class="form-control" id="loginName" placeholder="Login Name">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="equipment" class="col-sm-4 col-form-label">Weigthing Box</label>
                  <div class="col-sm-6">
                    <input type="text" readonly  [(ngModel)]="equipment" name="equipment" class="form-control" id="equipment" placeholder="Weigthing Box">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="Type" class="col-sm-4 col-form-label">Type</label>
                  <div class="col-sm-6">
                    <input type="text" readonly  [(ngModel)]="type" name="type" class="form-control" id="Type" placeholder="Level 1 / Level 2">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="reason" class="col-sm-4 col-form-label">Reason</label>
                  <div class="col-sm-6">
                    <textarea readonly [(ngModel)]="reason" name="reason" class="form-control" id="reason" rows="3" placeholder="Reason / Description"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="start" class="col-sm-4 col-form-label">Start</label>
                  <div class="col-sm-6">
                    <input readonly name="start" type="text" class="form-control" id="start" placeholder="Start" value="{{start | date:'yyyy-MM-dd HH:MM:ss'}}">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="stop" class="col-sm-4 col-form-label">Stop</label>
                  <div class="col-sm-6">
                    <input readonly name="stop" type="text" class="form-control" id="stop" placeholder="Stop" value="{{stop | date:'yyyy-MM-dd HH:MM:ss'}}">
                  </div>
                </div>
                <br>
                <button  type="button" class="btn text-white" data-toggle="modal" data-target=".stop" style="background-color: rgb(255, 0, 0);"><h4>STOP</h4></button>
                <br><br>
              </form>
          </div>
      <br>
  </div>
</div>

<!-- Modal STOP -->
<div class="modal fade stop" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header alert bg-warning clearfix text-center">
          <span class="text-center col-sm-12">
            <h4><strong><b>Peringatan</b></strong></h4>
          </span>
        </div>    
        <div class="modal-body text-center">
            <span class="text-center col-sm-12">
              <h5>Apakah Anda Yakin Ingin Berhenti ?</h5>  
            </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" routerLink="/dashboard" (click)="Submit()">STOP</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
<!-- Akhir Modal STOP -->