<nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
  <span class="navbar-brand text-white">
    <img src="https://static1.squarespace.com/static/50f5d875e4b067428bcb1324/t/50f82030e4b0a63b1074712b/1358438449058/loreal_logo_PNG_white_transparent.png?format=300w" width="90" height="30" class="d-inline-block align-top" alt="">
    System Performance Indicator
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
    </div>

    <div class="form-inline my-2 my-lg-0">
      <label class="mr-sm-3 text-white"><b>{{nama}} / {{nik}}</b></label>
    </div>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-danger my-2 my-sm-0 text-white" type="logout" data-toggle="modal"
              data-target=".logout">Logout
      </button>
    </form>
  </div>
</nav>

<!-- AKHIR NAVBAR -->
<br><br><br>
<div class="container">
  <br>
  <div class="card" style="padding: 10px 50px 10px 50px">
    <div class="text-center">
      <br><br>
      <form #formInput="ngForm" (ngSubmit)="Submit()" action="">
        <div class="row col-md-12">
          <label for="weightingBox" class="col-md-4 col-form-label">Weighing Box *</label>
          <select [(ngModel)]="informasiInput.weightingBox" name="weightingBox" class="form-control col-md-8"
                  id="weightingBox" required #weightingBox="ngModel">
            <option *ngFor="let item of weighingBoxData" value="{{item.weighingBox}}">{{item.aliasName}}</option>
          </select>
          <div class="col-md-12" *ngIf="weightingBox.invalid && (weightingBox.dirty || weightingBox.touched)">
            <small class="text-danger" *ngIf="weightingBox.errors.required">
              Harap isi Weighing Box
            </small>
          </div>
        </div>
        <br>
        <div class="row col-md-12">
          <label for="ofNo" class="col-md-4">OF No *</label>
          <input [(ngModel)]="informasiInputOf" name="Of" type="text" id="Of" class="form-control col-md-6"/>
          <div class="col-md-2">
            <!-- Collapse -->
            <button type="button" class="btn btn-primary" (click)="searchForFuckSake()">
              <i class="fa fa-arrow-down" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <br>
        <span>{{errorMsg}}</span>
        <div class="row col-md-12">
          <label for="formula" class="col-md-4">Formula *</label>
          <!-- <input [(ngModel)]="infoFormula" name="Formula1" type="text" id="formula1" class="form-control col-md-8" readonly value="{{selectedFormula?.formula}}"> -->
          <input [(ngModel)]="informasiInput.Formula" name="Formula" type="text" id="Formula"
                 class="form-control col-md-8" readonly value="{{selectedFormula?.productNo}}">
        </div>
        <br>
        <div class="row col-md-12">
          <label for="shiftId" class="col-md-4">Shift*</label>
          <select [(ngModel)]="informasiInput.Shift" name="Shift" class="col-md-8 form-control" id="exampleSelect1"
                  required #Shift="ngModel">
            <option value="1">Shift 1</option>
            <option value="2">Shift 2</option>
            <option value="3">Shift 3</option>
          </select>
          <div class="col-md-12" *ngIf="Shift.invalid && (Shift.dirty || Shift.touched)">
            <small class="text-danger" *ngIf="Shift.errors.required">
              Harap isi shift anda
            </small>
          </div>
        </div>

        <br>
        <div>
          <button class="btn btn-primary" type="submit" [disabled]="!formInput.valid">Submit</button>
          <button class="btn btn-secondary" type="reset">Cancel</button>
        </div>
        <br><br>
      </form>
    </div>
    <small style="color: red">Catatan: Data wajib diisi oleh operator. Harap isi dengan baik dan hati-hati
      karena data yang telah masuk tidak dapat diubah kembali.
    </small>
    <br><br>
  </div>
</div>

<!-- Modal Logout -->
<div class="modal fade logout" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header alert bg-warning clearfix text-center">
          <span class="text-center col-sm-12">
            <h4><strong><b>PERINGATAN</b></strong></h4>
          </span>
        </div>
        <div class="modal-body text-center">
            <span class="text-center col-sm-12">
              <h5>Apakah Anda Yakin Ingin Logout?</h5>
            </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="logout()">
            Logout
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Akhir Modal Logout -->

  <!-- Ruang Testing -->
