<div class="container">
  <br>
  <div class="card w-50 mx-auto" style="padding: 5px 10px 5px 10px">
    <br>
    <br>
    <div class="text-center">
      <img src="http://waste4change.com/wp-content/uploads/logo-LOreal.png" class="rounded w-75" alt="Responsive image">
    </div>
    <br>
    <h1 class="text-center text-primary">
      <b>User Login</b>
    </h1>
    <br>
    <br>
    <form #formLogin="ngForm" (ngSubmit)="login()">
      <div class="form-group">
        <input type="text" name="username" id="username" [(ngModel)]="idusername" class="form-control col-md-12"
               placeholder="NIK" required #username="ngModel">
        <div class="alert alert-danger" *ngIf="username.invalid && (username.dirty || username.touched)">
          <small *ngIf="username.errors.required">
            Harap isi NIK
          </small>
        </div>
      </div>
      <div class="form-group">
        <input type="password" name="password" id="password" placeholder="Password" class="form-control col-md-12"
               [(ngModel)]="idpassword" required #password="ngModel">
        <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
          <small *ngIf="password.errors.required">
            Harap isi Password.
          </small>
        </div>
      </div>
      <br>
      <span>{{errorMsg}}</span>
      <button [disabled]="!formLogin.valid" type="submit" class="btn btn-primary btn-block">Login</button>
      <br>
    </form>
  </div>
</div>
