<div class="col text-center">
  
  <div class="row">
    <button class="col border text-center" data-toggle="modal" data-target=".of">
      <!-- <div class="alert bg-white clearfix text-center">
        <b>OF</b>
      </div> -->
      <br>
      <div class="mx-auto align-middle" id="ofChart"></div>
    </button>
    <button class="col border text-center" data-toggle="modal" data-target=".rm">
      <!-- <div class="alert bg-white clearfix text-center">
        <b>RM</b>
      </div> -->
      <br>
      <div class="mx-auto align-middle" id="rmChart"></div>
    </button>
  </div>
  <div class="row">
    <button class="col border text-center" data-toggle="modal" data-target=".pack">
      <!-- <div class="alert bg-white clearfix text-center">
        <b>PACK</b>
      </div> -->
      <br>
      <div class="mx-auto align-middle" id="packChart"></div>
    </button>
    <button class="col border text-center" data-toggle="modal" data-target=".efisiensi">
      <br>
      <div class="mx-auto align-middle" id="efisiensiChart"></div>
    </button>
  </div>


  <!-- Modal RM Chart -->
  <div class="modal rm" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">RM</h4>
          <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="align-middle" id="rmChartModal"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal OF -->
  <div class="modal of" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">OF</h4>
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="align-middle" id="ofChartModal"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal PACK -->
  <div class="modal pack" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">PACK</h4>
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="align-middle" id="packChartModal"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Efisiensi -->
  <div class="modal efisiensi" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">EFISIENSI</h4>
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="align-middle" id="efisiensiChartModal"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

</div>
