<div class="row">
  <div class="col text-center">
    <div class="row">
      <div class="col">
        <div class="alert bg-white clearfix text-center">
          <b>EFISIENSI TES</b>
        </div>
        <div class="mx-auto align-middle" id="pieChart" style="width: 550px; height: 350px;"></div>
      </div>
    </div>
  </div>
</div>

<!-- style="width: 550px; height: 350px;" -->

