<div class="sticky-top">
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <!-- <button type="button" class="btn btn-danger navbar-brand text-center text-white" routerLink="/spi-first" (click)="backFormInput()">
    Back Form Input
  </button> -->
  <span class="navbar-brand text-white">
      <img src="https://static1.squarespace.com/static/50f5d875e4b067428bcb1324/t/50f82030e4b0a63b1074712b/1358438449058/loreal_logo_PNG_white_transparent.png?format=300w" width="90" height="30" class="d-inline-block align-top" alt="">
      System Performance Indicator / Dashboard
    </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
    </div>
    <div class="form-inline my-2 my-lg-0">
      <label for="status" class="mr-sm-3 text-white">
        <b>{{namaOperator}} / {{nik}}</b>
      </label>
    </div>

    <button (click)="btnPot()" class="btn btn-danger text-center text-white my-2 mr-sm-3 text-white" type="pot" routerLink="/pot">
      <b>STOP</b>
    </button>

    <div class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-danger my-2 my-sm-0 text-white" type="logout" data-toggle="modal" data-target=".logout">Logout</button>
    </div>
  </div>
</nav>
<!-- AKHIR NAVBAR -->


<div class="container-fluid" style="background-color: rgb(169, 206, 240);">
  <br>
  <div class="row">
    <div class="col">
        <div class="row col-md-12">
          <label for="of" class="col-sm-12 col-form-label">
              <b>STATUS OF BERJALAN :
                  <span class="alert text-white" style="background-color: rgb(19, 196, 3);">Production</span>
              </b>
          </label>
        </div><br>
      <div class="row col-md-12">
        <label for="of" class="col-sm-2">
            <b>RM</b>
        </label>
        <div class="col-md-7">
          <span class="progress" style="height: 20px;">
            <i class="progress-bar" role="progressbar" [ngStyle]="{'width':widthRM+'%'}" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></i>
          </span>
        </div>
        <small for="of" class="col-sm-3 text-danger">
          <b>{{statusRM}} of {{jumlahRM}}</b>
        </small>
      </div>

      <div class="row col-md-12">
        <label for="of" class="col-sm-2">
          <b>Total Weight</b>
        </label>
        <div class="col-md-7">
          <span class="progress" style="height: 20px;">
            <i class="progress-bar" role="progressbar" [ngStyle]="{'width':widthWeigh+'%'}" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></i>
          </span>
        </div>
        <small for="of" class="col-sm-3 text-danger">
          <b>{{statusWEIGH | number:0}} Kg of {{totalWeigh | number}} Kg</b>
        </small>
      </div>

      <div class="row col-md-12">
        <label for="of" class="col-sm-2 col-form-label">
            <b>Pack</b>
        </label>
        <label for="of" class="col-sm-2 col-form-label">
            <b>{{statusPACK}}</b>
        </label>
      </div>
      <br>
    </div>

    <div class="col">
      <br>
      <!-- OF Number -->
      <div class="form-group row col-sm-12">
        <label for="of" class="col-sm-2">
            <b>OF Number</b>
        </label>
        <label for="of" class="col-sm-7">
            <b>: {{Of}}</b>
        </label>
      </div>
      <!-- FORMULA -->
      <div class="form-group row col-md-12">
        <label for="formula" class="col-sm-2">
            <b>Formula</b>
        </label>
        <label for="formula" class="col-sm-7">
            <b>: {{Formula}}</b>
        </label>
      </div>
      <!-- SHIFT -->
      <div class="form-group row col-md-12">
        <label for="Shift" class="col-sm-2">
            <b>Shift</b>
        </label>
        <label for="Shift" class="col-sm-7">
            <b>: {{Shift}}</b>
        </label>
        <div *ngIf="btnEndOf == 'NO'" class="col-md-3">
          <button disabled type="button" class="btn btn-lg text-center text-white" data-toggle="modal" data-target=".endOf" style="background-color: rgb(255, 0, 0);">
            <b>END OF</b>
          </button>
        </div>
        <div *ngIf="btnEndOf == 'YES'" class="col-md-3">
          <button type="button" class="btn btn-lg text-center text-white" data-toggle="modal" data-target=".endOf" style="background-color: rgb(255, 0, 0);" >
            <b>END OF</b>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
</div>

<!-- AKHIR BAR STATUS OF BERJALAN -->

<div class="container-fluid">
  <div class="row">
    <div class="col border">
      <app-performance></app-performance>
    </div>
    <div class="col border">
      <app-achievement></app-achievement>
    </div>
  </div>
  <div class="row">
    <div class="col border">
      <app-gantt></app-gantt>
    </div>
    <div class="col border">
      <app-efisiensi></app-efisiensi>
    </div>
  </div>
</div>

      <!-- Modal Logout -->
      <div class="modal fade logout" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header alert bg-warning clearfix text-center">
              <span class="text-center col-sm-12">
                <h4><strong><b>Peringatan</b></strong></h4>
              </span>
            </div>
            <div class="modal-body text-center">
                <span class="text-center col-sm-12">
                  <h5>Apakah Anda Yakin Ingin Logout?</h5>
                </span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="logout()">Logout</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    <!-- Akhir Modal Logout -->
    
    <!-- Modal EndOf -->
    <div class="modal fade endOf" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header alert bg-warning clearfix text-center">
              <span class="text-center col-sm-12">
                <h4><strong><b>Peringatan</b></strong></h4>
              </span>
            </div>
            <div class="modal-body text-center">
                <span class="text-center col-sm-12">
                  <h5>Apakah Anda Yakin Telah Selesai Dengan OF <span class="text-danger"><b>[{{Of}}]</b></span> ?</h5>
                </span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" routerLink="/spi-first" (click)="endOf()">END OF</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    <!-- Akhir Modal EndOf -->
    
    
    <button id="openPot" [hidden]="true" data-toggle="modal" data-target="#test" routerLink="/pot">Open POT</button>