<div class="alert bg-white clearfix text-center">
    <b>PRODUCTIVITY MONTH TO DATE</b>
  </div>
  <div class="row">
    <div class="col text-center">
      <b>Individual Achievement</b>
      <br>
      <br>
      <button disabled class="text-white mx-auto align-middle mh-100 text-center rounded-circle mx-auto" style="width: 200px; height: 200px; background-color: rgb(255, 0, 0);">
        <span>
          <h1>
            <b>{{statusAchievement.individual | number:'1.1-5'}}</b>
          </h1>
        </span>
      </button>
    </div>
    <div class="col text-center">
      <b>Group Achievement</b>
      <br>
      <br>
      <button disabled class="text-white mx-auto align-middle mh-100 text-center rounded-circle mx-auto" style="width: 200px; height: 200px; background-color: rgb(19, 196, 3);">
        <span>
          <h1>
            <b>{{statusAchievement.group | number:'1.1-5'}}</b>
          </h1>
        </span>
      </button>
    </div>
  </div>