<div class="sticky-top">
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <!-- <button type="button" class="btn btn-danger navbar-brand text-center text-white" routerLink="/spi-first" (click)="backFormInput()">
      Back Form Input
    </button> -->
    <span class="navbar-brand text-white">
      <img src="https://static1.squarespace.com/static/50f5d875e4b067428bcb1324/t/50f82030e4b0a63b1074712b/1358438449058/loreal_logo_PNG_white_transparent.png?format=300w" width="90" height="30" class="d-inline-block align-top" alt="">
      System Performance Indicator
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav mr-auto">
      </div>
      <div class="form-inline my-2 my-lg-0">
        <label for="status" class="mr-sm-3 text-white">
          <b>{{namaOperator}} / {{nik}}</b>
        </label>
      </div>

      <button *ngIf="statusKlik=='Manual'" class="btn btn-danger text-center text-white my-2 mr-sm-3 text-white" routerLink="/dashboard">
        <b>BACK</b>
      </button>
      <button disabled *ngIf="statusKlik=='Idle'" class="btn btn-danger text-center text-white my-2 mr-sm-3 text-white">
        <b>BACK</b>
      </button>

      <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-danger my-2 my-sm-0 text-white" type="logout" data-toggle="modal" data-target=".logout">Logout</button>
      </div>
    </div>
  </nav>
  <!-- AKHIR NAVBAR -->


  <div class="container-fluid" style="background-color: rgb(169, 206, 240);">
    <br>
    <div class="row">
      <div class="col">
          <div class="row col-md-12">
            <label for="of" class="col-sm-12 col-form-label">
                <b>STATUS OF BERJALAN :
                  <span class="alert text-white" style="background-color: rgb(255, 0, 0);">STOP</span>
                </b>
            </label>
          </div><br>
        <div class="row col-md-12">
          <label for="of" class="col-sm-2">
              <b>RM</b>
          </label>
          <div class="col-md-7">
            <span class="progress">
              <i class="progress-bar" role="progressbar" [ngStyle]="{'width':widthRM+'%'}" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></i>
            </span>
          </div>
          <small for="of" class="col-sm-3 text-danger">
            <b>{{statusRM}} of {{jumlahRM}}</b>
          </small>
        </div>
  
        <div class="row col-md-12">
          <label for="of" class="col-sm-2">
            <b>Total Weight</b>
          </label>
          <div class="col-md-7">
            <span class="progress">
              <i class="progress-bar" role="progressbar" [ngStyle]="{'width':widthWeigh+'%'}" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></i>
            </span>
          </div>
          <small for="of" class="col-sm-3 text-danger">
            <b>{{statusWEIGH | number:0}} Kg of {{totalWeigh | number}} Kg</b>
          </small>
        </div>
  
        <div class="row col-md-12">
          <label for="of" class="col-sm-2 col-form-label">
              <b>Pack</b>
          </label>
          <label for="of" class="col-sm-2 col-form-label">
              <b>{{statusPACK}}</b>
          </label>
        </div>
        <br>
      </div>

        <div class="col">
          <br>
          <!-- OF Number -->
          <div class="form-group row col-sm-12">
            <label for="of" class="col-sm-2">
                <b>OF Number</b>
            </label>
            <label for="of" class="col-sm-7">
                <b>: {{Of}}</b>
            </label>
          </div>
          <!-- FORMULA -->
          <div class="form-group row col-md-12">
            <label for="formula" class="col-sm-2">
                <b>Formula</b>
            </label>
            <label for="formula" class="col-sm-7">
                <b>: {{Formula}}</b>
            </label>
          </div>
          <!-- SHIFT -->
          <div class="form-group row col-md-12">
            <label for="Shift" class="col-sm-2">
                <b>Shift</b>
            </label>
            <label for="Shift" class="col-sm-7">
                <b>: {{Shift}}</b>
            </label>
          </div>

        </div>
      </div>
    </div>
  </div>

<!-- AKHIR BAR STATUS OF BERJALAN -->

<div class="container-fluid" style="padding: 10px 50px 10px 50px">
    <div class="row">
      <div class="col text-center card w-60 mx-auto" style="padding: 5px 10px 5px 10px">
        <div class="alert bg-secondary text-center text-white" role="alert">
          <h5>
            <strong>Level 1</strong>
          </h5>
        </div>
        <div class="form-group">
          <div class="list-group" id="list-tab" role="tablist">
            <!-- <a (click)="btnPreparation()" name="pilihan1" class="list-group-item list-group-item-action" data-toggle="list" role="tab">Preparation</a><br>
            <a (click)="btnStoring()" name="pilihan1" class="list-group-item list-group-item-action" data-toggle="list" role="tab">Storing</a><br>
            <a (click)="btnWaiting()" name="pilihan1" class="list-group-item list-group-item-action" data-toggle="list" role="tab">Waiting</a><br>
            <a (click)="btnBreakdown()" name="pilihan1" class="list-group-item list-group-item-action" data-toggle="list" role="tab">Breakdown</a> -->
            <a *ngFor="let level of Level1" (click)="doSomething(level.id, level.description)" name="level1" class="list-group-item list-group-item-action" data-toggle="list" role="tab">{{level.description}}</a>
          </div>
        </div>
      </div>

      <div *ngIf="pilihanPertama==''" class="col text-center card w-60 mx-auto" style="padding: 5px 10px 5px 10px">
        <div class="alert bg-secondary text-center text-white" role="alert">
          <h5>
            <strong>Level 2</strong>
          </h5>
        </div>
      </div>
      <div *ngIf="pilihanPertama!=''" class="col text-center card w-60 mx-auto" style="padding: 5px 10px 5px 10px">
        <div class="alert bg-secondary text-center text-white" role="alert">
          <h5>
            <strong>Level 2</strong>
          </h5>
        </div>
        <div class="form-group">
          <div class="list-group" id="list-tab" role="tablist">
            <a *ngFor="let levelx of LevelDua" (click)="levelType(levelx.id, levelx.description)" name="level2" class="list-group-item list-group-item-action" data-toggle="list" role="tab">{{levelx.description}}</a><br>
          </div>
          <!-- <button type="button" class="btn btn-outline-primary w-50 p-3" (click)="doSomething(preparation)">{{preparation}}</button><br> -->
        </div>
      </div>

      <div class="col text-center card w-60 mx-auto" style="padding: 5px 10px 5px 10px">
          <div class="alert bg-secondary text-center text-white" role="alert">
            <h5>
              <strong>REASON</strong>
            </h5>
          </div>
          <form>
              <div *ngIf="pilihanDua==''" class="form-group row">
                <label for="reason" class="col-sm-3 col-form-label">
                    <b>Reason</b>
                </label>
                  <textarea readonly name="reason" class="col-sm-8 form-control" id="reason" rows="4" placeholder="Reason / Description"></textarea>
              </div>
              <div *ngIf="pilihanDua!=''" class="form-group row">
                <label for="reason" class="col-sm-3 col-form-label">
                    <b>Reason</b>
                </label>
                  <textarea [(ngModel)]="reason" name="reason" class="col-sm-8 form-control" id="reason" rows="4" placeholder="Reason / Description"></textarea>
              </div>
            <br>
            <button disabled *ngIf="pilihanPertama=='' || reason==''"  type="button" class="btn btn-danger" routerLink="/waiting"><h4>KIRIM</h4></button>
            <button *ngIf="pilihanPertama!='' && reason!=''"  type="button" class="btn btn-danger" routerLink="/waiting" (click)="submit()"><h4>KIRIM</h4></button>
            <br><br>
          </form>
      </div>
    </div>
</div>

<!-- Modal Logout -->
<div class="modal fade logout" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header alert bg-warning clearfix text-center">
          <span class="text-center col-sm-12">
            <h4><strong><b>Peringatan</b></strong></h4>
          </span>
        </div>
        <div class="modal-body text-center">
            <span class="text-center col-sm-12">
              <h5>Apakah Anda Yakin Ingin Logout?</h5>
            </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" routerLink="/login">Logout</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
<!-- Akhir Modal Logout -->