<div class="col text-center">
  <div class="row">
    <div class="col">
      <div class="alert bg-white clearfix text-center">
        <b>GRAPHICAL FOLLOW-UP</b>
      </div>
      <div class="mx-auto align-middle" id="ganttChart"></div>
    </div>
  </div>
</div>

<!-- style="width: 800px; height: 300px;" -->